#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../../images/BANNER_RIDIMENSIONATO.jpg");
  min-height: 100%;
  border-bottom: 3px black solid;
}

.bgimg-2 {
  background-image: url("../../images/FORTYONE.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../../images/LACCHE.jpg");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("../../images/PALETTE.jpg");
  min-height: 500px;
}

.bgimg-4 {
  // background-image: url("../../images/aqua.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 0;
  top: 73%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.instagram {
  min-height: 150px;
  background-color: white;
  text-align: center;
  padding-top: 140px;
  font-weight: 300;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  font-weight: lighter;
}

.product-text {
   display: flex; align-items: center; justify-content: space-around; min-height: 480px;

}

.product-text:hover{
  animation-name: hoverText;
  animation-duration: 1s;
  -webkit-transform: scale(1.2);
 }





.first-product-image {
  background-image: url("../../images/FORTYONE.jpg");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 8px black solid;
}

@keyframes hoverText {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
     }
   }

   @keyframes hoverBoard {
     0% {
       outline: 8px black solid;
     }

     100% {
       outline: 13px black solid;
        }
      }

.first-product-image:hover {
  // outline: 20px black solid;
  animation-name: hoverBoard;
  animation-duration: 0.2s;
  outline: 13px black solid;

}


.second-product-image {
  background-image: url("../../images/LACCHE.jpg");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 8px black solid;
}

.second-product-image:hover {
animation-name: hoverBoard;
animation-duration: 0.2s;
outline: 13px black solid;
}
.third-product-image {
  background-image: url("../../images/PALETTE.jpg");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 8px black solid;
}

.third-product-image:hover {
  animation-name: hoverBoard;
  animation-duration: 0.2s;
  outline: 13px black solid;
}


.fourth-product-image {
  background-image: url("../../images/ARGAN.jpg");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 8px black solid;
}

.fourth-product-image:hover {
  animation-name: hoverBoard;
  animation-duration: 0.2s;
  outline: 13px black solid;
}

.fifth-product-image {
  background-image: url("../../images/OSSIGENO.jpg");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 8px black solid;
}

.fifth-product-image:hover {
  animation-name: hoverBoard;
  animation-duration: 0.2s;
  outline: 13px black solid;
}

.instagram-pic-1 {
  background-image: url("../../images/02-58-51.png");
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 50%;
  margin-right: 0;
}

.instagram-pic-2 {
  background-image: url("../../images/02-58-23.png");
  height: 400px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 25%;
}

.instagram-pic-3 {
  background-image: url("../../images/02-58-34.png");
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 50%;
  margin-left: 0;
}

.col-xs-12 {
  padding: 0;
}

.col-md-6 {
  padding: 0;
}

.ninetyeight {
  width: 97%;
}

.row {
  width: 100vw;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  padding: 12px 50px 8px 50px;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 480px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }

    .row {
      height: 635px;
      padding-top: 6.5vh !important;
    }


    .second-row {
      height: 564px !important;
    }

    // .third-row {
    //   height: 638px !important;
    // }

    .fourth-row {
      height: 530px !important;
    }

    .fifth-row {
      height: 545px !important;
    }

    // .first-row {
    //   padding-top: 10vh !important
    // }

    span {
      padding: 15px 8px 15px 8px !important;
    }

    .first-product-image, .second-product-image, .third-product-image,
    .fourth-product-image, .fifth-product-image {
      height: 50vh !important;
    }

    .instagram {
      padding-top: 0 !important;
    }

    .ninetyeight {
      width: 100%;
    }

    .first-product:after, .second-product:after, .third-product:after,
    .fourth-product:after, .fifth-product:after  {
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 60%; /* Change this to whatever width you want. */
        padding-top: 25px; /* This creates some space between the element and the border. */
        border-bottom: 1px solid lightgrey; /* This creates the border. Replace black with whatever color you want. */
    }



}

























.all {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
p {
  text-align: center;
}

p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

.contain {
  width: 100%;
}

.row__inst {
  overflow: scroll;
  width: 100%;
}

.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: 4px black solid;
}

.tile__img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}

.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}


.tile__details:before {
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}


.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}





@media only screen and (min-device-width: 700px) {

.tile {
  transition: 450ms all;
  transform-origin: center left;
  }

// .tile__details:after {
//   margin-top: -25px;
//   margin-left: -25px;
//   width: 50px;
//   height: 50px;
//   border: 3px solid #ecf0f1;
//   line-height: 50px;
//   text-align: center;
//   border-radius: 100%;
//   background: rgba(0,0,0,0.5);
//   z-index: 1;
// }

.tile:hover .tile__details {
  opacity: 1;
}

.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
  opacity: 0.3;
}

.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}

.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}

}



