<style>
  .blue {
    color: #236194;
  }

  .small-text {
    margin: 0;
    letter-spacing: 1px !important;
    text-transform: none !important;
    font-size: 23px !important;
  }




</style>
  <div class="row" style="height: 50vh; background-color: white">
    <div class="col-xs-12 col-md-6 card-text">
      <div class="text-container" style="margin-left: 15vw; width: 30vw;">
        <h1 style="text-align: left;" class="blue">Fluido A.H.A.</h1>
        <h3 class="blue small-text">Alfa-idrossiacidi</h3>
        <h3 class="blue small-text">Cheratolitico</h3>
        <p style="margin: 10px 0; text-align: left; font-weight: 100;">Fluido a base di alfa-idrossiacidi (AHA)
          dalle proprietà cheratolitiche, che ottimizza
          il turnover cellulare ed è consigliato come
          pre-trattamento del programma Glo2wTech
          in quanto migliora la veicolazione degli attivi
          presenti nei sieri crono-ristrutturante viso e
        crono-elasticizzante collo e décolleté.</p>
      </div>

    </div><!-- /.col-xs-12 -->
    <div class="col-xs-12 col-md-6 card-picture" style="height: 100%;">
      <div class="image-container" style="height: 100%;">
        <img src="images/Cheratolitico_Comp.png" style="height: 100%; transform: scale(1.3); margin-left: 10vw;" alt="">
      </div>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
