
<a href="#primo">
  <div class="caption" style="z-index: 2;">
    <span class="border">SCOPRI LE NOSTRE NOVITA'</span>
  </div>
  <div class="bgimg-1">
  </div>
  </a>
<div class="container-main">
  <a id="primo">
  <div class="first-product" style="color: #777;background-color:white;text-align:center;">
    <div class="row" style="padding-top: 100px">
      <div class="col-xs-12 col-md-6">
        <div class="first-product-image">

        </div>
      </div>
      <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div>
          <h3 style="text-align:center;">ROSSETTO PLUMP ROSA</h3>
          <p>EFFETTO LABBRA VOLUMIZZATE</p>
          <p>scopri di più</p>
        </div>
      </div>
    </div>

  </div>
  </a>


<!--   <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ROUGJ</span>
    </div>
  </div> -->

  <div class="second-product" style="color: #777;background-color:white;text-align:center;">
    <div class="row">
      <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div>
          <h3 style="text-align:center;">ROSSETTO PLUMP ROSA</h3>
          <p>EFFETTO LABBRA VOLUMIZZATE</p>
          <p>scopri di più</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="second-product-image">

        </div>
      </div>
    </div>

  </div>

<!--   <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ROUGJ</span>
    </div>
  </div> -->

  <div class="third-product" style="color: #777;background-color:white;text-align:center;">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="third-product-image">

        </div>
      </div>
      <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div>
          <h3 style="text-align:center;">ROSSETTO PLUMP ROSA</h3>
          <p>EFFETTO LABBRA VOLUMIZZATE</p>
          <p>scopri di più</p>
        </div>
      </div>
    </div>

  </div>

<!--   <div class="bgimg-4">
    <div class="caption">
    </div>
  </div> -->

  <div class="instagram">
      <span class="border" style="background-color:transparent;font-size:45px;color: black;">SEGUICI SU INSTAGRAM</span>

  </div>

<!-- <div class="bgimg-5">

</div> -->

<div class="fifth-product" style="color: #777;background-color:white;text-align:center; padding-bottom: 100px;">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-1">

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-2">

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-3">

      </div>
    </div>



  </div>

  </div>
