
<a href="#primo">
  <div class="caption" style="z-index: 2;">
    <span class="border">SCOPRI LE</span>
    <br>
    <span class="border">NOSTRE NOVITA'</span>

  </div>
  <div class="bgimg-1">
  </div>
  </a>
<div class="container-main">
  <a id="primo">
  <div class="first-product" style="color: #777;background-color:white;text-align:center; ">
    <div class="row" style="padding-top: 100px">
      <div class="col-xs-12 col-md-6">
        <div class="first-product-image ninetyeight" style="height: 51.5vw;">

        </div>
      </div>
      <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div class="ninetyeight">
          <h3 style="text-align:center;">MASCARA FORTY-ONE E SIERO FORTY-ONE</h3>
          <p>MASCARA ALLUNGANTE E SIERO EFFETTO ALLUNGANTE CIGLIA</p>
          <p>scopri di più</p>
        </div>
      </div>
    </div>

  </div>
  </a>


<!--   <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ROUGJ</span>
    </div>
  </div> -->

  <div class="second-product" style="color: #777;background-color:white;text-align:center;">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-push-6">
        <div class="second-product-image ninetyeight">

        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div class="ninetyeight">
          <h3 style="text-align:center;">LACCHE LABBRA MATT</h3>
          <p>UNA LIMITED EDITION DI 12 TONALITA</p>
          <p>scopri di più</p>
        </div>
      </div>
    </div>

  </div>

<!--   <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ROUGJ</span>
    </div>
  </div> -->

  <div class="third-product" style="color: #777;background-color:white;text-align:center;">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="third-product-image ninetyeight">

        </div>
      </div>
      <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
        <div class="ninetyeight">
          <h3 style="text-align:center;">PALETTE MAKE-UP GIORNO E SERA</h3>
          <p>LIMITED EDITION</p>
          <p>scopri di più</p>
        </div>
      </div>
    </div>

      <div class="fourth-product" style="color: #777;background-color:white;text-align:center;">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="fourth-product-image ninetyeight col-md-push-6">

            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-md-pull-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
            <div class="ninetyeight">
              <h3 style="text-align:center;">OLIO D'ARGAN</h3>
              <p>VISO, CORPO, CAPELLI</p>
              <p>scopri di più</p>
            </div>
          </div>
        </div>

      </div>

    <!--   <div class="bgimg-3">
        <div class="caption">
          <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ROUGJ</span>
        </div>
      </div> -->

      <div class="fifth-product" style="color: #777;background-color:white;text-align:center;">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="fifth-product-image ninetyeight">

            </div>
          </div>
          <div class="col-xs-12 col-md-6 product-text" style="display: flex; align-items: center; justify-content: space-around; min-height: 50vw;">
            <div class="ninetyeight">
              <h3 style="text-align:center;">GLO2W TECH</h3>
              <p>LA TECNOLOGIA DELL'OSSIGENO DIRETTAMENTE A CASA TUA</p>
              <p>scopri di più</p>
            </div>
          </div>
        </div>

  </div>

<!--   <div class="bgimg-4">
    <div class="caption">
    </div>
  </div> -->

  <div class="instagram">
      <span class="border" style="background-color:transparent;font-size:45px;color: black;">SEGUICI SU INSTAGRAM</span>

  </div>

<!-- <div class="bgimg-5">

</div> -->

<div class="fifth-product" style="color: #777;background-color:white;text-align:center; padding-bottom: 100px;">
  <!-- <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-1">

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-2">

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="instagram-pic-3">

      </div>
    </div>



  </div> -->

  <div class="row__inst no-scroll">
      <div class="row__inner">

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="images/2018-10-05at11.09.00.png" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="images/2018-10-05at11.10.24.png" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="images/2018-10-05at11.10.52.png" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="images/2018-10-05at11.11.42.png" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="images/2018-10-05at11.10.05.png" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-6.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-7.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-8.jpg" alt=""  />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>
    </div>
  </div>
